<%= stylesheet_link_tag 'second-header', :media => "all" %>
<%= stylesheet_link_tag 'style', :media => "all" %>

<%= render "shared/second-header" %>

<%# 一覧表示画面 %>
<div class='group-index-main'>
  <div class="group-index-title">
    グループ一覧
  </div>
  <div class='group-index-contents'>
    <% @groups.each do |group| %>
      <%# グループ１つ分の表示 %>
      <div class='group-content'>
        <%# 参加人数に関する表示 %>
        <div class='group'>
          <div class='group-member__num'>
            <%= group.users.count%><span>人</span>
          </div>
          <div class='group__unit'>
            参加中
          </div>
        </div>

        <%# グループ情報の表示 %>
        <div class='group-detail'>
          <div class='group-top'>
            <div class='group-top__title'>
              <%= group.name %>
            </div>
          </div>
          <div class='group-bottom'>
            <div class='group-bottom__content'>
              <%= group.introduction %>
            </div>
          </div>
        </div>
        <%if group.users.exists?(current_user.id)%>
          <div class="group-joing-btn">
            <div class="group-joing-text">
              <%= link_to 'ルームへ', group_posts_path(group), class: "joing" %>
            </div>
          </div>
        <% else %>
          <div class="group-join-btn">
            <div class="group-join-text">
              <%= link_to '参加', join_group_path(group), class: "join" %>
            </div>
          </div>
        <% end %>
        <div class="group-show-btn">
          <div class="group-show-text">
            <%= link_to '詳細', group_path(group.id), class: "details" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


