<%= stylesheet_link_tag 'second-header', :media => "all" %>
<%= stylesheet_link_tag 'style', :media => "all" %>
<%= stylesheet_link_tag 'footer', :media => "all" %>

<%= render "shared/second-header" %>

<div class="group-main">
  <div class='contents'>
    <div class="upper-content">
      <p>グループがありません</p>
    </div>
    <div class="bottom-content">
    </div>
  </div>
</div>


<%= render "shared/footer" %>