<%= stylesheet_link_tag 'style', :media => "all" %>

<div class="group-show">
  <header class="group-show-header">
    <%=link_to "グループ一覧へ", groups_path %>
    <%=link_to "マイページへ", user_path(current_user.id) %>
  </header>
  <div class="group-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-group">グループ名</th>
          <td class="detail-value"><%= @group.name %></td>
        </tr>
        <tr>
        <tr>
          <th class="detail-group">作成者</th>
          <td class="detail-value"><%= @group.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-group">紹介文</th>
          <td class="detail-value"><%= @group.introduction %></td>
        </tr>
        <tr>
          <th class="detail-group">グループメンバー</th>
          <td class="detail-value">
            <%if @group.users.exists?(current_user.id) %>
              <% @group.group_users.each do |group| %>
               <div class="group-member-user">
                 <p>
                   <%= "・#{group.user.nickname}" %>
                 </p>
               </div>
              <% end %>
            <% else %>
              <p>※※ グループ参加者のみ閲覧可能です ※※</p>
            <% end %></td>
        </tr>
      </tbody>
    </table>
    <% if current_user.id == @group.user_id %>
      <%= link_to "グループの編集", "#", method: :get, class: "group-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", group_path(@group.id), method: :delete, class:"group-destroy" %>
    <% end %>
  </div>
</div>