<%= stylesheet_link_tag 'second-header', :media => "all" %>
<%= stylesheet_link_tag 'users', :media => "all" %>
<%= stylesheet_link_tag 'style', :media => "all" %>

<header class="header">
  <div class="heading">
    <div class="nav">
      <div class="nav__left">
        <%= link_to 'ログアウト', destroy_user_session_path, class: "logout" %>
        <%= link_to 'マイページ', user_path(current_user.id), class: "my-page" %>
      </div>
      <div class="nav__right">
        <%= link_to 'グループ一覧へ', groups_path, class: "title" %>
      </div>
    </div>
  </div>
</header>

<div class="user-show">
  <div class="user-show-heading">
    <%= "#{@user.nickname}さんの情報" %>
  </div>
  <div class="user-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">お名前</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">所属</th>
          <td class="detail-value"><%= @user.occupation %></td>
        </tr>
        <tr>
          <th class="detail-post">役職</th>
          <td class="detail-value"><%= @user.position %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="user-show-heading">
    <%= "#{@user.nickname}さんの参加しているグループ" %>
  </div>
  <div class='join-group-container'>
    <div class='join-group-contents'>
      <% @user.group_users.each do |group| %>
        <div class='group-content'>
          <div class='group'>
            <div class='group-member__num'>
              <%= group.group.users.count%><span>人</span>
            </div>
            <div class='group__unit'>
              参加中
            </div>
          </div>

          <div class='group-detail'>
            <div class='group-top'>
              <div class='group-top__title'>
                <%= group.group.name %>
              </div>
            </div>
            <div class='group-bottom'>
              <div class='group-bottom__content'>
                <%= group.group.introduction %>
              </div>
            </div>
          </div>
          <%if group.group.users.exists?(current_user.id)%>
            <div class="group-joing-btn">
              <div class="group-joing-text">
                <%= link_to 'ルームへ', group_posts_path(group.group.id), class: "joing" %>
              </div>
            </div>
            <div class="group-join-delete-btn">
              <div class="group-joing-text">
                <%= link_to '脱退', "#", class: "join-delete" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>