<%= stylesheet_link_tag 'posts', :media => "all" %>
<%= stylesheet_link_tag 'error-messages.css', :media => "all" %>

<div class="post-show">
  <header class="post-show-header">
    <%=link_to "グループルームへもどる", group_posts_path(@post.group_id) %>
  </header>
  <div class="post-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">タイトル名</th>
          <td class="detail-value"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="detail-post">情報の内容文</th>
          <td class="detail-value"><%= @post.sentence %></td>
        </tr>
      </tbody>
    </table>
    <% if @post.user_id == current_user.id %>
      <%= link_to "情報の編集", edit_group_post_path(@post.group.id, @post.id), method: :get, class: "post-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", group_post_path(@post.group.id, @post.id), method: :delete, class:"post-destroy" %>
    <% end %>
  </div>
  <div class="comments-container">
    <div class="comments">
      <h2>＜コメント一覧＞</h2>
        <% @post.comments.each do |comment| %>
          <div class="comment">
            <p>
              <strong class="user-info"><%= comment.user.nickname %>： </strong>
              <%= comment.content%>
            </p>
          </div>
        <% end %>
    </div>
    <div class="comment-box">
      <%= form_with(model: [@post, @comment], url:"/groups/#{@post.group_id}/posts/#{@post.id}/comments", method: :post, local: true) do |f| %>
      <%= render 'shared/error-messages', model: f.object %>
        <%= f.text_area :content,  class:"comment-text", placeholder: "コメントする", width: "60%",  rows: "2" %>
        <%= f.submit "送信", class:"comment-btn" %>
      <% end %>
    </div>
  </div>
</div>

